---
import "@fontsource-variable/fira-code";
---

<style>
  .blinking-cursor {
    animation: blink 1s steps(1) infinite;
  }

  .code {
    font-family: 'Fira Code', monospace;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>

<header aria-label="Site Header">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-purple-400" href="/">
          <span class="sr-only">Home</span>
          <span class="code">/home/philip<span class="blinking-cursor">|</span></span>
        </a>
      </div>
    </div>
  </div>
</header>
