---
// <div>
//   <nav aria-label="Site Nav">
//     <ul class="flex items-center gap-6 text-sm">
//       <li>
//         <a
//           class="text-gray-500 transition hover:text-gray-500"
//           href="/"
//         >
//           About
//         </a>
//       </li>
//     </ul>
//   </nav>
// </div>
---

<header aria-label="Site Header">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-purple-400" href="/">
          <span class="sr-only">Home</span>
          philip proplesch
        </a>
      </div>
    </div>
  </div>
</header>
